<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title> PGOV </title>
    <style>
        h1 {
            text-align: center;
        }

        h3 {
            font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
            font-size: 140%;
        }

        body {
            background-color: peachpuff;

        }

        p {
            font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
        }
    </style>

    <link rel="stylesheet" href="styles/style.css">

</head>